<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProtectDownLoad" value="false"/>
  </appSettings>
  <system.web>
    <pages enableSessionState="false" enableViewState="false" clientIDMode="Static"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="HttpModuleProtectDownLoad" type="HttpModuleProtectDownLoad"/>
    </modules>
  </system.webServer>
</configuration>