<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProtectDownLoad" value="true"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <!-- 清除全部的 處理常式對應 -->
      <clear />
      <!-- 補上靜態檔案的 處理常式對應 , 正常靜態檔應該只會有 GET , 所以這邊安全起見 , 我們只保留 GET 的方法 -->
      <add name="StaticFile" path="*" verb="GET" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>